<nav class="navbar sticky-top bg-dark py-3">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold text-white" href="/">Convention</a>
          {{#if isHomePage }}
          <a class="btn btn-outline-light" href="/register">Register</a>
          {{/if}}
        </div>
    </nav>