<div class="custom-container d-flex justify-content-center">
        <div class="body">
            <div class="content-overlay d-flex text-dark justify-content-center align-items-center flex-column">
                <h1>CONVENTION</h1>
                <p>Some information</p>
            </div>

            <div class="content-img">
                <img src="https://www.google.com.vn/url?sa=i&url=https%3A%2F%2Fbaochinhphu.vn%2Fkhai-mac-hoi-nghi-trung-uong-5-khoa-xiii-102220504082007827.htm&psig=AOvVaw3J7J6C4uR0olqMQ2sOudKS&ust=1699968891314000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCOD7zOKLwYIDFQAAAAAdAAAAABAD" alt="" class = "img-container opacity-75">
            </div>
        </div>
    </div>