<div class="container col-6 p-3 border border-1 border-info rounded-3 my-5 bg-info-subtle">
    <div class="form-title d-flex justify-content-center align-items-center">
        <h2>Thông Tin Đăng Ký</h2>
    </div>
    <div>
        <p>Email: {{ email }}</p>
        <p>Họ và tên: {{ name }}</p>
        <p>SĐT: {{ phone }}</p>
        <p>{{ agreement }}</p>
    </div>
</div>